@model IEnumerable<EntityLayer.Concrete.Content>
@{
    ViewBag.Title = "ContentByHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ContentByHeading</h2>

@foreach (var content in Model)
{
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="timeline">
                            <div class="time-label">
                                <span class="bg-success">  @(((DateTime)content.ContentDate).ToString("dd.MM.yyyy"))</span>
                            </div>
                            <div>
                                <i class="fas fa-comment bg-yellow"></i>
                                <div class="timeline-item">
                                    <h3 class="timeline-header"><a href="#">@content.Writer.WriterName @content.Writer.WriterSurname</a> </h3>
                                    <div class="timeline-body">
                                        @content.ContentValue
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

}