@model IEnumerable<EntityLayer.Concrete.Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class="table table-hover table-bordered table-striped table-condensed">
    <tr class="text-center">
        <th>Sıra</th>
        <th> Admin Adı</th>
        <th> Admin Email</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>

    @foreach (var admin in Model)
    {
        <tr class="text-center">
            <th>@admin.AdminID</th>
            <td>@admin.AdminName</td>
            <td class="text-left">@admin.AdminEmail</td>
            <td><a href="/AdminAuthorized/Edit/@admin.AdminID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/AdminCategory/Delete/@admin.AdminID" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>

<br />

@Html.ActionLink("Admin Ekle", "AddAdmin", null, new { @class = "btn btn-primary" })