@{
    ViewBag.Title = "Error404";
    Layout = null;
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/AdminLTE-3.0.4/ErrorTemplate/ErrorTemplate-main/css/style.css" />
</head>


<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oooops!</h1>
        </div>
        <h2>404 - Aradığınız sayfa bulunamadı</h2>
        <p>
            Aradığınız sayfa, adı değiştirilmiş veya geçici olarak kullanılamıyor olabilir.
        </p>
        <a href="/Home/Index">Anasayfa</a>
    </div>
</div>



