
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Error Sayfaları</h2>
<a href="/ErrorPage/Error403" class="btn btn-primary">Error-403</a>
<a href="/ErrorPage/Error404" class="btn btn-danger">Error-404</a>

